



.navbar {
    background: white;
    font-family: serif;
    font-weight: bold;
}

.greentext {
    color: #33cccc;
    font-family: serif;
    font-weight: bold;
}

.sidebar {
    float: left;
}

.main-content {
    float: right;
}

.greenback {
    background:  #33cccc;
    color: white;
}

.back_white {
    background: white;
}

.white_text {
    color: white;
}

@media (max-width: 767px) {
    .navbar-nav li {  
      padding: 10px;
    }
    .navbar-expand-md{
        background-color: #33cccc !important;
        }

  }

  .center {
    text-align: center;
  }


